html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.outs{
position:relative;
  height: 100%;
//background-color:#ff8080;
}





#main{
//position:relative;
position:fixed;
width:100%;
z-index:2;
background-color:white;
}
.im
{
margin-left:50px;
margin-top:10px;

}

#forms
{
z-index:10;
position:fixed;
display:none;

 top: 5%;
 left: 25%;
right:25%;
background-color:#99e6ff;
border-radius:20px;
}



* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



.signupbtn , .cancelbtn
{
height:50px;
border-radius:20px;
margin-right:10px;
}

input
{
border-radius:20px;
}
/* Extra styles for the cancel button */
.cancelbtn {
 // padding: 14px 20px;
 // background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 48.5%;
}

/* Add padding to container elements */
.containers {
  padding: 16px;
 
}

.vl
{
 border-left: 1px solid #ddd;
height:35px;
display:inline-block;
margin-top:10px;
margin-left:8px;
}

.sp1
{
margin-left:10px;
font-size:20px;
//overflow-wrap: break-word;
display:inline-block;
width:180px;
}


.img1
{
position:absolute;
//top:10px;
margin-left:8px;
display:inline-block;
}

.myInput {
display:inline-block;
  background-image: url('image/search.png') ;
  background-position: 10px 12px;
  background-repeat: no-repeat;
 border-radius:10px;
background-size: 20px 20px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-top: 0px;
}


.right{
position:relative;
font-size:19px;

float:right;
display:inline-block;
}

.sp2{
top:10px;
position:absolute;
right:430px;
background-color: #e63900;
text-align:center;
display:inline-block;
width:100px;

margin-right:50px;}

.sp2:hover{
background-color:DodgerBlue;
cursor:pointer;
}

.contact{position:absolute;right:180px;
text-align:center;
display:inline-block;margin-right:50px;}

.cart{text-align:center;


display:inline-block;margin-right:50px;}

.login{text-align:center;
display:inline-block;margin-right:50px;}


#image1{
margin-top:3px;
height:30px;
width:30px;}

#log{
height:30px;
margin-top:3px;
width:30px;
}

#num{

padding-top:10px;}

#hr{
margin-top:7px;
width:100%;
display:block;
height:1px;
background-color:#ddd;}

.contacts:hover{color:red;cursor:pointer;}

.contact:hover{cursor:pointer;}
.cart:hover , .login:hover{cursor:pointer;}

.links{
position:absolute;
top:60px;
font-size:16px;
//background-color:blue;
width:100%;
}

.links div{

display:inline-block;
padding: 0.5px 5px;
margin: 15px;
}

.links #first{
margin-left:100px;}



.links #last{
margin-right:60px;}

a{text-decoration:none;
color:black;
padding-bottom:10px;}



.links a:hover{
color:red;
border-bottom:2px solid red;}

#hr1{
margin-top:-3px;
width:100%;
display:block;
height:1px;
background-color:#ddd;}


#pop1{
background-color:#ddd;
width:100%;
display:none;
z-index:1;

position:absolute;
top:105px;}

#pop1 p{ display:inline-block;
padding-left: 30px ;
padding-top:10px;
padding-bottom:10px;
margin-left:50px;
margin-right:50px;


width:300px;}

#grey{
position:absolute;
background-color:#ddd;
width:100%;
top:105px;padding-top:15px;}

#grey #fir{
margin-left:50px;
}

#grey span:hover{
color:blue;
cursor:pointer;}

#grey p{
font-size:40px;padding-top:10px;
padding-bottom:10px;
margin-left:50px;}






.imagelist{
padding-left:45px;


padding-bottom:50px;
//background-color:red;
//height:100%;
//position:absolute;
padding-top:200px;}


#onehr{
width:96%;

margin-right:50px;

}
.imagesss{
margin-top:20px;
margin-right:60px;
width:300px;
display:inline-block;
}

.imagesss img{

height:320px;
width:300px;
margin-bottom:30px;
-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.p2class{
height:80px;}

.pclass{font-size:30px;
margin-bottom:30px;}

.butclass button{
margin-top:10px;
background-color:#33cc33;
border:none;

padding:10px;}

.butclass{display:inline-block;}

.buttwo button{
border:none;
padding:10px;
background-color:grey;}

.imagesss img:hover  {
	width: 320px;
}


.wrap{
padding-bottom:650px;


}
#footer{
background-color:black;
position: absolute;
  bottom: 0;
  width: 100%;
padding-top:20px;


 
}

#footdiv{
display:inline-block;
margin-right:40px;
margin-left:80px;
}


#footdiv1{
position:absolute;
display:inline-block;
//margin-right:90px;
top:20px;
left:400px;
width:100px;
//margin-left:50px;
//background-color:white;
//margin-bottom:10px;
}
#footdiv2{
position:absolute;
display:inline-block;
//margin-right:150px;
top:20px;left:700px;
//margin-left:150px;
//margin-bottom:10px;
}
#footdiv3{
position:absolute;
display:inline-block;
//margin-right:150px;
top:20px;left:1000px;
//margin-left:150px;
//margin-bottom:10px;
}
#footdiv p, #footdiv a{
margin-top:10px;color:white;}

#footdiv1 p, #footdiv1 a{color:white;
margin-top:10px;}
#footdiv2 p, #footdiv2 a{color:white;
margin-top:10px;}
#footdiv3 p, #footdiv3 a{color:white;
margin-top:10px;}


.soci{
position:absolute;
right:90px;
top:20px;
//background-color:pink;
//display:inline-block;
color:white;}

.vll{border-left: 1px solid #ddd;
height:550px;
position:absolute;
display:inline-block;
//margin-right:150px;
top:20px;left:1200px;
//margin-left:150px;
//margin-bottom:10px;}


.icocla{
display:inline-block;
//margin-right:20px;
width:40px;
height:40px;
margin-bottom:10px;}
.icocla1{
display:inline-block;
//margin-right:20px;
width:40px;
height:40px;}
.pricecalc{
display:none;
position:fixed;				
left:30%;
z-index:3;
//top:30%;
min-height:200vh;
display:inline-block;
background-color:white;
border:2px solid black;
}

.pricecalc img{
//margin-top:20px;
//margin-left:20px;
width:80px;
height:80px;
padding:10px;
//display:inline;
//margin-right:20px;
}

.pricecalc #close{
float:right;
cursor:pointer;
margin-right:10px;
font-size:23px;
}
.cont{display:inline-block;
//margin-right:5px;
//margin-left:5px;}
.pricecalc .pppp{display:none;
position:absolute;
top:60px;
left:8px;}

.pricecalc .pppp1{display:none;
position:absolute;
top:60px;
left:112px;}
.pricecalc .pppp2{display:none;
position:absolute;
top:60px;
left:216px;}
.pricecalc .pppp3{
position:absolute;display:none;
top:60px;
left:320px;}
.pricecalc .pppp4{
position:absolute;
display:none;
top:60px;
left:424px;}

#first p, #third p, #four p{
text-align:center;
}
#sec{margin-top:40px;
//background-color:blue;
text-align:center;

height:40px;}

#sec span{
//margint-top:20px;
cursor:pointer;
padding:20px;
height:200px;
width:200px;
margin-right:20px;
border-radius:50%;
background-color:#ddd;
}

#third{
margin-top:40px;
//background-color:blue;
//text-align:center;
height:40px;}


.contain{display:inline-block;
margin-top:30px;
margin-left:100px;}

.pricecalc .ccc{
position:absolute;
display:none;
top:376px;
left:108px;}

.pricecalc .ccc1{
position:absolute;
display:none;
top:376px;
left:311px;}


#four{margin-top:90px;
//background-color:blue;
//text-align:center;
height:40px;}

#four span{
margin-left:30px;
width:200px;
padding-bottom:90px;
padding-right:90px;
height:500px;

}

#four #blu{background-color:blue;}
#four #green{background-color:green;}

#four #red{background-color:red;}

#four #pink{background-color:pink;}


#headinggg{text-align:center;}

.popit{
display:none;
margin-left:10px;
font-size:30px;}


@media screen and (max-width: 1450px) {
	.right , .sp1 , .vl , .links, #footdiv , #footdiv1 , #footdiv2 , #footdiv3 , .vll{
		display:none;
		}
	
	.popit{font-size:70px;
		display:inline;
		cursor:pointer;
		}

	#pop1{
		width:85%;
		background-color: #ffe6e6;
top:60px;
position:fixed;
		}

	#pop1 p{
		float:left;padding-left: 0px ;margin-left:10px;
		margin-bottom:20px;
		}


	#grey{
	top:95px;
	font-size:25px;
	width:100%;
	}
	#grey p{
	font-size:70px;

	}

	.p2class{width:100%;

	font-size:25px;}
	.wrap{
		padding-bottom:200px;
		}
	.soci {position:static;
	margin-left:20px;}

.pricecalc{
left:0px;

}


//.imagelist{
//width:100vw;}


.imagesss{width:100%;
display:block;}
#main{
width:100%;}

.imagesss img{
width:700px;
height:700px;
}

.im{
width:70px;
height:70px;
margin-left:20%;
}

.img1{
top:15%;
margin-left:30%;
margin-right:0;
}

}